<div class="container">
  <div class="row">
    <div class="col-md-4">
    <h3>Identifiers</h3>
    <% @person.identifiers.each do |identity| %>
      <div class="identity">
        <b>Global ID Issuer:</b><%= identity.issuer %><br />
        <b>ID:</b> <%= identity.identity %><br />
      </div>
    <% end %>
    <h3>Profile</h3>
    <div class="profile">
      <b>Local ID:</b> <%= @person.id %><br />
      <b>氏名:</b> <%= @person.family_name %> <%= @person.given_name %><br />
      <b>生年月日:</b> <%= @person.date_of_birth %><br />
      <b>性別:</b> <%= @person.gender %><br />
    </div>
    <h3>Address</h3>
    <% @person.addresses.each do |address| %>
      <address>
        <b>住所種別：</b> <%= address.address_type %><br />
        <b>〒</b><%= address.post_code %> <%= address.prefecture %><%= address.city %>市<%= address.town %><br />
      </address>
      <% end %>
      <h3>Telecoms</h3>
      <% @person.telecoms.each do |telecom| %>
        <div class="telecom">
          <b>Type:</b> <%= telecom.telecom_type %><br />
          <b>Phone Number:</b> <%= telecom.unstructured %><br />
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <h3><%= pluralize @person.compositions.count, 'record' %></h3>
    <div class="compositions_table" id="#compositions"><%= render partial: 'compositions' %></div>
    </div>
  </div>
</div>
