<%= form_for(@open_ehr_ehr_observation_mml_test_module_v1) do |f| %>
  <% if @open_ehr_ehr_observation_mml_test_module_v1.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@open_ehr_ehr_observation_mml_test_module_v1.errors.count, "error") %> prohibited this open_ehr_ehr_observation_mml_test_module_v1 from being saved:</h2>

      <ul>
      <% @open_ehr_ehr_observation_mml_test_module_v1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p><strong><%= t('.at0000') %></strong>:<p><strong><%= t('.at0001') %></strong>:<strong><%= t('.at0002') %></strong>: <%= f.text_field :at0002 %><br/>
<p><strong><%= t('.at0002') %></strong>:<p><strong><%= t('.at0003') %></strong>:<p><strong><%= t('.at0004') %></strong>:<strong><%= t('.at0005') %></strong>: <%= f.text_field :at0005 %><br/>
<strong><%= t('.at0006') %></strong>: <%= f.text_field :at0006 %><br/>
<strong><%= t('.at0007') %></strong>: <%= f.text_field :at0007 %><br/>
<strong><%= t('.at0008') %></strong>: <%= f.text_field :at0008 %><br/>
</p>
<p><strong><%= t('.at0009') %></strong>:<strong><%= t('.at0010') %></strong>: <%= f.text_field :at0010 %><br/>
<strong><%= t('.at0011') %></strong>: <%= f.text_field :at0011 %><br/>
<strong><%= t('.at0012') %></strong>: <%= f.text_field :at0012 %><br/>
</p>
<p><strong><%= t('.at0013') %></strong>:<strong><%= t('.at0014') %></strong>: <%= f.text_field :at0014 %><br/>
<strong><%= t('.at0015') %></strong>: <%= f.text_field :at0015 %><br/>
<strong><%= t('.at0016') %></strong>: <%= f.text_field :at0016 %><br/>
</p>
<p><strong><%= t('.at0017') %></strong>:<strong><%= t('.at0018') %></strong>: <%= f.text_field :at0018 %><br/>
<strong><%= t('.at0019') %></strong>: <%= f.text_field :at0019 %><br/>
<strong><%= t('.at0020') %></strong>: <%= f.text_field :at0020 %><br/>
</p>
<p><strong><%= t('.at0021') %></strong>:<strong><%= t('.at0023') %></strong>: <%= f.text_field :at0023 %><br/>
<strong><%= t('.at0022') %></strong>: <%= f.text_field :at0022 %><br/>
<strong><%= t('.at0024') %></strong>: <%= f.text_field :at0024 %><br/>
</p>
<p><strong><%= t('.at0025') %></strong>:<strong><%= t('.at0026') %></strong>: <%= f.text_field :at0026 %><br/>
<strong><%= t('.at0027') %></strong>: <%= f.text_field :at0027 %><br/>
<strong><%= t('.at0028') %></strong>: <%= f.text_field :at0028 %><br/>
</p>
<p><strong><%= t('.at0029') %></strong>:<strong><%= t('.at0030') %></strong>: <%= f.text_field :at0030 %><br/>
<strong><%= t('.at0031') %></strong>: <%= f.text_field :at0031 %><br/>
<strong><%= t('.at0032') %></strong>: <%= f.text_field :at0032 %><br/>
</p>
<p><strong><%= t('.at0033') %></strong>:<strong><%= t('.at0034') %></strong>: <%= f.text_field :at0034 %><br/>
<strong><%= t('.at0035') %></strong>: <%= f.text_field :at0035 %><br/>
<strong><%= t('.at0036') %></strong>: <%= f.text_field :at0036 %><br/>
</p>
<p><strong><%= t('.at0037') %></strong>:<strong><%= t('.at0038') %></strong>: <%= f.text_field :at0038 %><br/>
<strong><%= t('.at0039') %></strong>: <%= f.text_field :at0039 %><br/>
<strong><%= t('.at0040') %></strong>: <%= f.text_field :at0040 %><br/>
</p>
<p><strong><%= t('.at0041') %></strong>:<strong><%= t('.at0042') %></strong>: <%= f.text_field :at0042 %><br/>
<strong><%= t('.at0043') %></strong>: <%= f.text_field :at0043 %><br/>
<strong><%= t('.at0044') %></strong>: <%= f.text_field :at0044 %><br/>
<strong><%= t('.at0045') %></strong>: <%= f.text_field :at0045 %><br/>
</p>
<strong><%= t('.at0047') %></strong>: <%= f.text_field :at0047 %><br/>
<p><strong><%= t('.at0048') %></strong>:<p><strong><%= t('.at0049') %></strong>:<strong><%= t('.at0051') %></strong>: <%= f.text_field :at0051 %><br/>
<strong><%= t('.at0052') %></strong>: <%= f.text_field :at0052 %><br/>
<strong><%= t('.at0053') %></strong>: <%= f.text_field :at0053 %><br/>
<p><strong><%= t('.at0054') %></strong>:<strong><%= t('.at0055') %></strong>: <%= f.text_field :at0055 %><br/>
<strong><%= t('.at0056') %></strong>: <%= f.text_field :at0056 %><br/>
<strong><%= t('.at0057') %></strong>: <%= f.text_field :at0057 %><br/>
<strong><%= t('.at0058') %></strong>: <%= f.text_field :at0058 %><br/>
</p>
<strong><%= t('.at0059') %></strong>: <%= f.text_field :at0059 %><br/>
</p>
<p><strong><%= t('.at0060') %></strong>:<p><strong><%= t('.at0071') %></strong>:<strong><%= t('.at0061') %></strong>: <%= f.text_field :at0061 %><br/>
<strong><%= t('.at0062') %></strong>: <%= f.text_field :at0062 %><br/>
<strong><%= t('.at0063') %></strong>: <%= f.text_field :at0063 %><br/>
<strong><%= t('.at0064') %></strong>: <%= f.text_field :at0064 %><br/>
<strong><%= t('.at0065') %></strong>: <%= f.text_field :at0065 %><br/>
<strong><%= t('.at0066') %></strong>: <%= f.text_field :at0066 %><br/>
<strong><%= t('.at0067') %></strong>: <%= f.text_field :at0067 %><br/>
<strong><%= t('.at0068') %></strong>: <%= f.text_field :at0068 %><br/>
</p>
<strong><%= t('.at0069') %></strong>: <%= f.text_field :at0069 %><br/>
<p><strong><%= t('.at0072') %></strong>:<strong><%= t('.at0070') %></strong>: <%= f.number_field :at0070 %> <br/>
<strong><%= t('.at0073') %></strong>: <%= f.number_field :at0073 %> <br/>
<strong><%= t('.at0074') %></strong>: <%= f.number_field :at0074 %> <br/>
</p>
<p><strong><%= t('.at0075') %></strong>:<strong><%= t('.at0076') %></strong>: <%= f.text_field :at0076 %><br/>
<strong><%= t('.at0077') %></strong>: <%= f.text_field :at0077 %><br/>
<strong><%= t('.at0078') %></strong>: <%= f.text_field :at0078 %><br/>
</p>
</p>
<p><strong><%= t('.at0079') %></strong>:ITEM<br/>
</p>
<p><strong><%= t('.at0081') %></strong>:<strong><%= t('.at0082') %></strong>: <%= f.text_field :at0082 %><br/>
<strong><%= t('.at0083') %></strong>: <%= f.text_field :at0083 %><br/>
<strong><%= t('.at0084') %></strong>: <%= f.text_field :at0084 %><br/>
<strong><%= t('.at0085') %></strong>: <%= f.text_field :at0085 %><br/>
</p>
<strong><%= t('.at0086') %></strong>: <%= f.text_field :at0086 %><br/>
</p>
</p>
</p>
</p>
</p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
