<h1>Listing <%= t(".at0000") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(".at0005") %></th>
      <th><%= t(".at0006") %></th>
      <th><%= t(".at0007") %></th>
      <th><%= t(".at0008") %></th>
      <th><%= t(".at0010") %></th>
      <th><%= t(".at0011") %></th>
      <th><%= t(".at0012") %></th>
      <th><%= t(".at0014") %></th>
      <th><%= t(".at0015") %></th>
      <th><%= t(".at0016") %></th>
      <th><%= t(".at0018") %></th>
      <th><%= t(".at0019") %></th>
      <th><%= t(".at0020") %></th>
      <th><%= t(".at0023") %></th>
      <th><%= t(".at0022") %></th>
      <th><%= t(".at0024") %></th>
      <th><%= t(".at0026") %></th>
      <th><%= t(".at0027") %></th>
      <th><%= t(".at0028") %></th>
      <th><%= t(".at0030") %></th>
      <th><%= t(".at0031") %></th>
      <th><%= t(".at0032") %></th>
      <th><%= t(".at0034") %></th>
      <th><%= t(".at0035") %></th>
      <th><%= t(".at0036") %></th>
      <th><%= t(".at0038") %></th>
      <th><%= t(".at0039") %></th>
      <th><%= t(".at0040") %></th>
      <th><%= t(".at0042") %></th>
      <th><%= t(".at0043") %></th>
      <th><%= t(".at0044") %></th>
      <th><%= t(".at0045") %></th>
      <th><%= t(".at0047") %></th>
      <th><%= t(".at0051") %></th>
      <th><%= t(".at0052") %></th>
      <th><%= t(".at0053") %></th>
      <th><%= t(".at0055") %></th>
      <th><%= t(".at0056") %></th>
      <th><%= t(".at0057") %></th>
      <th><%= t(".at0058") %></th>
      <th><%= t(".at0059") %></th>
      <th><%= t(".at0061") %></th>
      <th><%= t(".at0062") %></th>
      <th><%= t(".at0063") %></th>
      <th><%= t(".at0064") %></th>
      <th><%= t(".at0065") %></th>
      <th><%= t(".at0066") %></th>
      <th><%= t(".at0067") %></th>
      <th><%= t(".at0068") %></th>
      <th><%= t(".at0069") %></th>
      <th><%= t(".at0070") %></th>
      <th><%= t(".at0073") %></th>
      <th><%= t(".at0074") %></th>
      <th><%= t(".at0076") %></th>
      <th><%= t(".at0077") %></th>
      <th><%= t(".at0078") %></th>
      <th><%= t(".at0082") %></th>
      <th><%= t(".at0083") %></th>
      <th><%= t(".at0084") %></th>
      <th><%= t(".at0085") %></th>
      <th><%= t(".at0086") %></th>
    </tr>
  </thead>
  <tbody>
    <% @open_ehr_ehr_observation_mml_test_module_v1.each do |open_ehr_ehr_observation_mml_test_module_v1| %>
      <tr>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0005 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0006 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0007 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0008 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0010 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0011 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0012 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0014 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0015 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0016 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0018 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0019 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0020 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0023 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0022 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0024 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0026 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0027 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0028 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0030 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0031 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0032 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0034 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0035 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0036 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0038 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0039 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0040 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0042 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0043 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0044 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0045 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0047 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0051 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0052 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0053 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0055 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0056 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0057 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0058 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0059 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0061 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0062 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0063 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0064 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0065 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0066 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0067 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0068 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0069 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0070 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0073 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0074 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0076 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0077 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0078 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0082 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0083 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0084 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0085 %></td>
        <td><%= open_ehr_ehr_observation_mml_test_module_v1.at0086 %></td>
        <td><%= link_to 'Show', open_ehr_ehr_observation_mml_test_module_v1_path(id: open_ehr_ehr_observation_mml_test_module_v1.id) %></td>
        <td><%= link_to 'Edit', edit_open_ehr_ehr_observation_mml_test_module_v1_path(id: open_ehr_ehr_observation_mml_test_module_v1.id) %></td>
        <td><%= link_to 'Destroy', open_ehr_ehr_observation_mml_test_module_v1_path(id: open_ehr_ehr_observation_mml_test_module_v1.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to "New mml_test_module", new_open_ehr_ehr_observation_mml_test_module_v1_path %>
