<p id="notice"><%= notice %></p>

<p><strong>Data:</strong><p><strong>Events:</strong><p><strong>Data:</strong><p><strong>Items:</strong><p><strong>Items:</strong><strong><%= t('.at0005') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0005 %><br/>
<strong><%= t('.at0006') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0006 %><br/>
<strong><%= t('.at0007') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0007 %><br/>
<strong><%= t('.at0008') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0008 %><br/>
</p>
<p><strong>Items:</strong><strong><%= t('.at0010') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0010 %><br/>
<strong><%= t('.at0011') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0011 %><br/>
<strong><%= t('.at0012') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0012 %><br/>
</p>
<p><strong>Items:</strong><strong><%= t('.at0014') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0014 %><br/>
<strong><%= t('.at0015') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0015 %><br/>
<strong><%= t('.at0016') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0016 %><br/>
</p>
<p><strong>Items:</strong><strong><%= t('.at0018') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0018 %><br/>
<strong><%= t('.at0019') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0019 %><br/>
<strong><%= t('.at0020') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0020 %><br/>
</p>
<p><strong>Items:</strong><strong><%= t('.at0023') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0023 %><br/>
<strong><%= t('.at0022') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0022 %><br/>
<strong><%= t('.at0024') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0024 %><br/>
</p>
<p><strong>Items:</strong><strong><%= t('.at0026') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0026 %><br/>
<strong><%= t('.at0027') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0027 %><br/>
<strong><%= t('.at0028') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0028 %><br/>
</p>
<p><strong>Items:</strong><strong><%= t('.at0030') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0030 %><br/>
<strong><%= t('.at0031') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0031 %><br/>
<strong><%= t('.at0032') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0032 %><br/>
</p>
<p><strong>Items:</strong><strong><%= t('.at0034') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0034 %><br/>
<strong><%= t('.at0035') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0035 %><br/>
<strong><%= t('.at0036') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0036 %><br/>
</p>
<p><strong>Items:</strong><strong><%= t('.at0038') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0038 %><br/>
<strong><%= t('.at0039') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0039 %><br/>
<strong><%= t('.at0040') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0040 %><br/>
</p>
<p><strong>Items:</strong><strong><%= t('.at0042') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0042 %><br/>
<strong><%= t('.at0043') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0043 %><br/>
<strong><%= t('.at0044') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0044 %><br/>
<strong><%= t('.at0045') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0045 %><br/>
</p>
<strong><%= t('.at0047') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0047 %><br/>
<p><strong>Items:</strong><p><strong>Items:</strong><strong><%= t('.at0051') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0051 %><br/>
<strong><%= t('.at0052') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0052 %><br/>
<strong><%= t('.at0053') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0053 %><br/>
<p><strong>Items:</strong><strong><%= t('.at0055') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0055 %><br/>
<strong><%= t('.at0056') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0056 %><br/>
<strong><%= t('.at0057') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0057 %><br/>
<strong><%= t('.at0058') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0058 %><br/>
</p>
<strong><%= t('.at0059') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0059 %><br/>
</p>
<p><strong>Items:</strong><p><strong>Items:</strong><strong><%= t('.at0061') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0061 %><br/>
<strong><%= t('.at0062') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0062 %><br/>
<strong><%= t('.at0063') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0063 %><br/>
<strong><%= t('.at0064') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0064 %><br/>
<strong><%= t('.at0065') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0065 %><br/>
<strong><%= t('.at0066') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0066 %><br/>
<strong><%= t('.at0067') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0067 %><br/>
<strong><%= t('.at0068') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0068 %><br/>
</p>
<strong><%= t('.at0069') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0069 %><br/>
<p><strong>Items:</strong><strong><%= t('.at0070') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0070 %><br/>
<strong><%= t('.at0073') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0073 %><br/>
<strong><%= t('.at0074') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0074 %><br/>
</p>
<p><strong>Items:</strong><strong><%= t('.at0076') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0076 %><br/>
<strong><%= t('.at0077') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0077 %><br/>
<strong><%= t('.at0078') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0078 %><br/>
</p>
</p>
<p><strong>Items:</strong>ITEM
</p>
<p><strong>Items:</strong><strong><%= t('.at0082') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0082 %><br/>
<strong><%= t('.at0083') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0083 %><br/>
<strong><%= t('.at0084') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0084 %><br/>
<strong><%= t('.at0085') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0085 %><br/>
</p>
<strong><%= t('.at0086') %></strong>: <%= @open_ehr_ehr_observation_mml_test_module_v1.at0086 %><br/>
</p>
</p>
</p>
</p>
</p>


<%= link_to 'Edit', edit_open_ehr_ehr_observation_mml_test_module_v1_path(id: @open_ehr_ehr_observation_mml_test_module_v1.id) %> |
<%= link_to 'Back', open_ehr_ehr_observation_mml_test_module_v1_index_path %>
