<%= form_for(@open_ehr_ehr_cluster_mml_name_v1) do |f| %>
  <% if @open_ehr_ehr_cluster_mml_name_v1.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@open_ehr_ehr_cluster_mml_name_v1.errors.count, "error") %> prohibited this open_ehr_ehr_cluster_mml_name_v1 from being saved:</h2>

      <ul>
      <% @open_ehr_ehr_cluster_mml_name_v1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p><strong><%= t('.at0000') %></strong>:<strong><%= t('.at0002') %></strong>: <%= f.text_field :at0002 %><br/>
<strong><%= t('.at0001') %></strong>: <%= f.text_field :at0001 %><br/>
<strong><%= t('.at0003') %></strong>: <%= f.text_field :at0003 %><br/>
<strong><%= t('.at0004') %></strong>: <%= f.text_field :at0004 %><br/>
<strong><%= t('.at0005') %></strong>: <%= f.text_field :at0005 %><br/>
<strong><%= t('.at0006') %></strong>: <%= f.text_field :at0006 %><br/>
</p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
