<p id="notice"><%= notice %></p>

<p><strong>Items:</strong><strong><%= t('.at0002') %></strong>: <%= @open_ehr_ehr_cluster_mml_name_v1.at0002 %><br/>
<strong><%= t('.at0001') %></strong>: <%= @open_ehr_ehr_cluster_mml_name_v1.at0001 %><br/>
<strong><%= t('.at0003') %></strong>: <%= @open_ehr_ehr_cluster_mml_name_v1.at0003 %><br/>
<strong><%= t('.at0004') %></strong>: <%= @open_ehr_ehr_cluster_mml_name_v1.at0004 %><br/>
<strong><%= t('.at0005') %></strong>: <%= @open_ehr_ehr_cluster_mml_name_v1.at0005 %><br/>
<strong><%= t('.at0006') %></strong>: <%= @open_ehr_ehr_cluster_mml_name_v1.at0006 %><br/>
</p>


<%= link_to 'Edit', edit_open_ehr_ehr_cluster_mml_name_v1_path(id: @open_ehr_ehr_cluster_mml_name_v1.id) %> |
<%= link_to 'Back', open_ehr_ehr_cluster_mml_name_v1_index_path %>
