<% @test_modules.each do |test_module| %>
  <tr>
    <td><%= test_module.at0005 %></td><td><%= test_module.at0018 %></td><td><%= test_module.at0008 %></td><td><%= test_module.at0010 %></td><td><%= link_to 'Show', test_module_path(id: test_module.id) %></td>
  </tr>
<% end %> 	
