<p id="notice"><%= notice %></p>
<h1>検査レポート</h1>
<table class="table table-striped table-borderd table-hover">
 <thead>
   <tr>
    <th>登録ID</th><th>採取時</th><th>登録時</th><th>報告時</th><th>報告状況</th><th>セット名称</th><th>施設名称</th><th>検体種別</th>
   </tr>
   <tr>
     <td><%= @test_module.at0005 %></td><td><%= @test_module.at0006 %><td><%= @test_module.at0007 %></td><td><%= @test_module.at0008 %></td><td><%= @test_module.at0010 %></td><td><%= @test_module.at0014 %></td><td><%= @test_module.at0018 %></td><td><%= @test_module.at0051 %></td>
 </thead>
 <tbody>
   <tr>
    <th>項目名</th><th>値</th><th>単位</th>
   </tr>
   <tr>
     <td><%= @test_module.at0061_1 %></td><td><%= number_with_precision(@test_module.at0070_1, precision: 1) %></td><td><%= @test_module.at0076_1 %></td>
   </tr>
   <tr>
     <td><%= @test_module.at0061_2 %></td><td><%= @test_module.at0070_2 %></td><td><%= @test_module.at0076_2 %></td>
   </tr>
   <tr>
     <td><%= @test_module.at0061_3 %></td><td><%= @test_module.at0070_3 %></td><td><%= @test_module.at0076_3 %></td>
     
   </tr>
   <tr>
     <td><%= @test_module.at0061_4 %></td><td><%= @test_module.at0070_4 %></td><td><%= @test_module.at0076_4 %></td>
   </tr>
   <tr>
     <td><%= @test_module.at0061_5 %></td><td><%= @test_module.at0070_5 %></td><td><%= @test_module.at0076_5 %></td>
   </tr> 
</tbody>
</table>
